/* Variables */
:root {
  --primary-brand-color: #000000;
  --secondary-brand-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --primary-text-color: #212121;
  --primary-text: Roboto, sans-serif;
  --primary-font-size: 14px;
}

body {
  letter-spacing: 0.03em;
  font-family: var(--primary-text);
  color: var(--primary-text-color);
  font-weight: 400;
  background-color: var(--primary-background-color);
}

.link {
  font-family: var(--primary-text);
  font-size: var(--primary-font-size);
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:focus,
.link:hover {
  color: var(--secondary-brand-color);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: #ececec 1px solid;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--primary-brand-color);
  margin-right: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-web {
  color: var(--secondary-brand-color);
}

.current {
  color: var(--secondary-brand-color);
}

.header-nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list {
  display: flex;
  gap: 50px;
}

.contacts-list-link {
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
}

.hero-button {
  background-color: var(--secondary-brand-color);
  color: #ffffff;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-family: var(--primary-text);
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.pros {
  font-size: 14px;
  color: #757575;
  line-height: calc(24 / 14);
}
.pros-list {
  display: flex;
  gap: 30px;
}

.pros-list-item {
  width: 270px;
}

.pros-list-header {
  text-transform: uppercase;
  font-weight: 700;
  line-height: calc(16 / 14);
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.services {
  padding-top: 0;
}

.services-header,
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.services-list {
  display: flex;
  gap: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  flex-basis: calc(100%-30px * 2) / 3;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
  text-align: center;
}

.employee-dept {
  font-size: 16px;
  color: #757575;
  line-height: calc(19 / 16);
  text-align: center;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.address {
  color: #ffffff;
  line-height: calc(24 / 14);
  text-decoration: none;
  font-style: normal;
  font-size: var(--primary-font-size);
  display: block;
  margin-bottom: 9px;
}
.footer-item-link {
  font-size: var(--primary-font-size);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: calc(24 / 14);
}

.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}
.portfolio-buttons-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  gap: 8px;
  justify-content: center;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  text-align: center;
  background-color: #f5f4fa;
  font-family: var(--primary-text);
  border-radius: 4px;
  margin-bottom: 50px;
  border: none;
  padding: 6px 22px;
}

.portfolio-button:hover {
  background-color: var(--secondary-brand-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.portfolio-wrapper {
  border: 1px #eeeeee solid;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.portfolio-item-group {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #757575;
}
